<!-- Footer -->
<footer class="pt-120 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <img src="assets/img/logo-dark.png" alt="image" class="logo__img">
                <p class="mt-10 mb-8">Se você tem um site de e-commerce ou um site de negócios, você quer atrair o maior número de visitantes possível ou quando você não quer mais ser limitado por</p>
                <h6 class="mb-3 fs-16">Inscreva-se no nosso newsletter</h6>
                <form action="#" class="domain-form-one position-relative">
                    <input type="text" class="form-control p-4 rounded-pill" placeholder="Digite seu email">
                    <div class="domain-submit-box d-flex align-items-center gap-3 position-absolute">
                        <button class="btn px-4 btn-primary rounded-circle" type="submit"><span class="fs-16"><i
                                    class="las la-arrow-right"></i></span></button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="ps-xl-10">
                    <h6 class="fs-16 mt-3 mb-10">Produtos e Soluções</h6>
                    <ul class="list-unstyled d-flex flex-column gap-2">
                        <li><a href="shared-hosting.html" class="text-decoration-none text-body hover:text-primary fs-14">Hospedagem compartilhada</a></li>
                        <li><a href="wp-hosting.html" class="text-decoration-none text-body hover:text-primary fs-14">Hospedagem WordPress</a></li>
                        <li><a href="vps-server.html" class="text-decoration-none text-body hover:text-primary fs-14">VPS Hosting</a></li>
                        <li><a href="dedicated-server.html" class="text-decoration-none text-body hover:text-primary fs-14">Servidores Cloud</a></li>
                        <li><a href="dedicated-server.html" class="text-decoration-none text-body hover:text-primary fs-14">Servidores dedicados</a></li>
                        <li><a href="game-server.html" class="text-decoration-none text-body hover:text-primary fs-14">Servidores de jogos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="ps-xl-5">
                    <h6 class="fs-16 mt-3 mb-10">Recursos da GouTec</h6>
                    <ul class="list-unstyled d-flex flex-column gap-2">
                        <li>
                            <a href="server-page.html" class="text-decoration-none text-body hover:text-primary fs-14">
                                Data Center</a>
                        </li>
                        <li><a href="control-panel.html" class="text-decoration-none text-body hover:text-primary fs-14">Painel de controle</a></li>
                        <li><a href="operating-system.html" class="text-decoration-none text-body hover:text-primary fs-14">Sistema operacional</a>
                        </li>
                        <li><a href="premium-network.html" class="text-decoration-none text-body hover:text-primary fs-14">Garantia de uptime</a>
                        </li>
                        <li><a href="ddos.html" class="text-decoration-none text-body hover:text-primary fs-14">Proteção contra DDOS</a></li>
                        <li><a href="server-page.html" class="text-decoration-none text-body hover:text-primary fs-14">Configuração de servidor</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="ps-xl-5">
                    <h6 class="fs-16 mt-3 mb-10">Informações da GouTec</h6>
                    <ul class="list-unstyled d-flex flex-column gap-2">
                        <li><a href="about-us.html" class="text-decoration-none text-body hover:text-primary fs-14">Sobre nós</a></li>
                        <li><a href="ddos.html" class="text-decoration-none text-body hover:text-primary fs-14">Parceiros</a>
                        </li>
                        <li><a href="server-page.html" class="text-decoration-none text-body hover:text-primary fs-14">Base de conhecimento</a></li>
                        <li><a href="contact.html" class="text-decoration-none text-body hover:text-primary fs-14">Contato</a></li>
                        <li><a href="blog-listing.html" class="text-decoration-none text-body hover:text-primary fs-14">Notícias</a></li>
                        <li><a href="contact.html" class="text-decoration-none text-body hover:text-primary fs-14">Chat ao vivo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-20">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-5 pt-5 border-top">
                <p class="mb-0 fs-14">&copy; 2024 GouTec. Todos os direitos reservados</p>
                <div class="d-inline-flex align-items-center justify-content-center gap-2">
                    <a href="#" class="social-icon w-9 h-9 d-inline-flex align-items-center justify-content-center rounded-circle border">
                        <span class="text-body"><i class="lab la-twitter"></i></span>
                    </a>
                    <a href="#" class="social-icon w-9 h-9 d-inline-flex align-items-center justify-content-center rounded-circle border">
                        <span class="text-body"><i class="lab la-facebook-f"></i></span>
                    </a>
                    <a href="#" class="social-icon w-9 h-9 d-inline-flex align-items-center justify-content-center rounded-circle border">
                        <span class="text-body"><i class="lab la-dribbble"></i></span>
                    </a>
                    <a href="#" class="social-icon w-9 h-9 d-inline-flex align-items-center justify-content-center rounded-circle border">
                        <span class="text-body"><i class="lab la-behance"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer><!-- Footer -->
